#carousel>img {
    width: 100%;
}

#carousel2 {
    width: 90%;
    margin: 20px auto;
}

#carousel2>img {
    width: 100%;
}

#carousel3 {
    width: 90%;
    margin: 20px auto;
}

#carousel3>img {
    width: 100%;
}