#inputs {
    width: 46%;
}

#inputs>input {
    width: 60%;
    border: 1px solid white;
    padding: 7px;
    border-radius: 10px;
}

#inputs>button {
    border: 1px solid white;
    background-color: white;
    margin: -33px;
    height: 9px;
    border-radius: 10px;
}